<ion-app>
  <ion-content>
    <ion-card>
      <ion-card-header>
       
        <ion-card-title>Demand (scaled per minute)</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <ion-input type="number" [(ngModel)]="demand" (input)='onInputTime($event.target.value)' ></ion-input>
          <!-- <ion-toggle  (ionChange)="handleToggleChange($event) "></ion-toggle> -->
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>number of punches per 10 seconds</ion-card-subtitle>
        <ion-card-title>Forecast (live Data Chart) </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <app-livechart></app-livechart>
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-app>